DEBUG=True

# Database credentials
DB_NAME=my_delivery_database
DB_USER=my_delivery_user
DB_PASSWORD=my_delivery_password
DB_HOST=db
DB_PORT=5432

# PostgreSQL initialization
POSTGRES_DB=my_delivery_database
POSTGRES_USER=my_delivery_user
POSTGRES_PASSWORD=my_delivery_password

# Redis credentials
REDIS_USER=<redis_user>
REDIS_PASSWORD=<redis_password>
REDIS_HOST=<redis_host_or_service_name>
REDIS_PORT=6379

# Django admin credentials
DJANGO_SUPERUSER_EMAIL=my_username@example.com
DJANGO_SUPERUSER_USERNAME=my_username
DJANGO_SUPERUSER_PASSWORD=<superuser_password>

# Django allowed origins and hosts 
BACKEND_HOST=localhost
BACKEND_ORIGIN=https://localhost

# Django secret key
SECRET_KEY=<django_secret_key>

# NGINX credentials
DOMAIN=netdelivery.local
CERT_DIR=/etc/nginx/certs